---
layout: default
title: Gallery
section_id: gallery
count_year_max: 2023
count_year_min: 2023
---

<div class='full parallax' style='padding-top: 50px;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Gallery" color="#464646" tagline=" " class="big" %}
    </div>
  </div>
  <div class='spacing'></div>
</div>
<div class='full no-padding'>
  <div class="child-page-listing">

    
    <div class="row">
      <div class="grid-container">
        {% for photo in site.gallery reversed %}
        <article id="3685" class="location-listing">
    
          <div class="location-title" href="#" >
            {{photo.description}}           </div>
    
          <div class="location-image">
            <img class="avatar" src="images/gallery/{{photo.img-filename}}" alt="{{photo.description}}">
    
          </div>
    
        </article>
        {% endfor %}
    
      </div>
      <!-- end grid container -->
  </div>
  </div>
</div>
<div class='four spacing'></div>

<!--
{% for social in member.social %}
  {% if social.title == "home" %}
    {% assign homeurl = social.url %}
  {% endif %}
{% endfor %}
-->
