---
layout: default
title: People
section_id: people
permalink: people.html
active_positions:
  - Ph.D. Student
  - Master Student

  - Undergraduate Intern
  - Professor

color_list:
  - rgba(245, 224, 204)
  - rgba(255, 255, 179)
  - rgba(179, 255, 179)
  - rgba(179, 255, 255)
  - rgba(179, 179, 255)
  - rgba(255, 179, 255)
  - rgba(0, 144, 202)
---

<div class='full parallax' style='padding-top: 50px;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Member" color="#464646" tagline=" " class="big" %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full no-padding'>
  <!-- Members except alumni -->
  {% for p in page.active_positions %}
  <div class='row'>
    {% if p == "Professor"  %}
      <div class='medium-12 columns'>
        <h2>{{p}}</h2>
      </div>
    {% endif %}
    {% if p == "Postdoctoral Researcher" or p == "Master Student" or p == "Ph.D. Student" or p == "Research Associate" or p == "Undergraduate Intern" %}
      <div class='medium-12 columns'>
        <h2>{{p}}s</h2>
      </div>
    {% endif %}

    {% for member in site.people %}
      
      {% if member.position == p %}
      


      <div class="small-10 medium-5 large-5 columns wp-block-coblocks-author" style="font-size:15px">
        {% assign homeurl = member.permalink %}


        {% for social in member.social %}
          {% if social.title == "home" %}
            {% assign homeurl = social.url %}
          {% endif %}
        {% endfor %}
        <figure class="wp-block-coblocks-author__avatar">
          <a href="{{homeurl}}">
            <img class="wp-block-coblocks-author__avatar-img" src="./images/people/{{member.img-filename}}">
          </a>
        </figure>
        <div class="wp-block-coblocks-author__content">
        <span class="wp-block-coblocks-author__name">
          <a style="color:black;" href="{{homeurl}}">
            <strong><strong>{{member.emoji}}&nbsp; {{member.fullname}}</strong></strong>
          </a>
          </span>
          <br>
        
        {% if p != "Professor"  %}
        <p class="wp-block-coblocks-author__biography">Interested in 👇<br><br>
        {% endif %}
          {% for field in member.fields %}
          {% assign color = page.color_list[forloop.index0] %}
          <span style="font-size:0.9em; font-weight: 1000; border-radius: 5px; white-space: nowrap; margin-left: 5px; background-color: {{color}};">&nbsp;&nbsp;&nbsp;{{field.name}}&nbsp;&nbsp;&nbsp;</span >
          {% endfor %}
          
        </p>
        </div>
      </div>


      {% endif %}
    {% endfor %}
    <div></div>
  </div>
  <div class='spacing'></div>
  {% endfor %}




  <!-- Members On Leave -->
  <!--
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>On Leave</h2>
        {% for member in site.people reversed %}
          {% if member.position == "On Leave"  %}
            <p style="margin-bottom: 0px;">
            {% assign temp = false %}
            {% for social in member.social %}
              {% if social.title == "home" %}
                {% assign temp = true %}
                {% assign homeurl = social.url %}
              {% endif %}
            {% endfor %}
            {% if temp %}
              <a href="{{homeurl}}">
            {% else %}
              <a href="{{member.permalink}}">
            {% endif %}
              {{member.fullname}}
            </a>
            {{member.past}}
              {% if member.current %}
                - {{member.current}}
              {% endif %}
          {% endif %}
        {% endfor %}
      <br/><br/>
    </div>
    <div></div>
  </div>
  -->
  <!-- Members alumni -->
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>Alumni</h2>
      <h3>Graduate Students</h3>
        <!-- Ph.D. alumni -->
        {% for member in site.people reversed %}
          {% if member.position == "Alumni" and member.pastposition == "Ph.D. Student" %}
            <p style="margin-bottom: 0px;">
            {% assign temp = false %}
            {% for social in member.social %}
              {% if social.title == "home" %}
                {% assign temp = true %}
                {% assign homeurl = social.url %}
              {% endif %}
            {% endfor %}
            {% if temp %}
              <a href="{{homeurl}}">
            {% else %}
              <a href="{{member.permalink}}">
            {% endif %}
              {{member.fullname}}
            </a>
            {{member.past}}
              {% if member.current %}
                - {{member.current}}
              {% endif %}
          {% endif %}
        {% endfor %}
        <!-- Master alumni -->
        {% for member in site.people reversed %}
          {% if member.position == "Alumni" and member.pastposition == "Master Student" %}
            <p style="margin-bottom: 0px;">
            {% assign temp = false %}
            {% for social in member.social %}
              {% if social.title == "home" %}
                {% assign temp = true %}
                {% assign homeurl = social.url %}
              {% endif %}
            {% endfor %}
            {% if temp %}
              <a href="{{homeurl}}">
            {% else %}
              <a href="{{member.permalink}}">
            {% endif %}
              {{member.fullname}}
            </a>
            {{member.past}}
              {% if member.current %}
                - {{member.current}}
              {% endif %}
          {% endif %}
        {% endfor %}
      <br/><br/>
      <h3>Undergraduate Students</h3>
        {% for member in site.people reversed %}
          {% if member.position == "Alumni" and member.pastposition == "Undergraduate Student" %}
            <p style="margin-bottom: 0px;">
            {% assign temp = false %}
            {% for social in member.social %}
              {% if social.title == "home" %}
                {% assign temp = true %}
                {% assign homeurl = social.url %}
              {% endif %}
            {% endfor %}
            {% if temp %}
              <a href="{{homeurl}}">
            {% else %}
              <a href="{{member.permalink}}">
            {% endif %}
              {{member.fullname}}
            </a>
            {{member.past}}
              {% if member.current %}
                - {{member.current}}
              {% endif %}
          {% endif %}
        {% endfor %}
    </div>
    <div></div>
  </div>

</div>

<div class='four spacing'></div>

<!--
{% for social in member.social %}
  {% if social.title == "home" %}
    {% assign homeurl = social.url %}
  {% endif %}
{% endfor %}
-->
