---
layout: default
title: People
section_id: people
permalink: people.html
active_positions:
  - Professor
  - Visiting Scholar
  - Student


color_list:
  - rgba(245, 224, 204)
  - rgba(255, 255, 179)
  - rgba(179, 255, 179)
  - rgba(179, 255, 255)
  - rgba(179, 179, 255)
  - rgba(255, 179, 255)
  - rgba(0, 144, 202)
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<div class='full parallax' style='padding-top: 50px;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Member" color="#464646" tagline=" " class="big" %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full no-padding'>
  <!-- Members except alumni -->
  {% for p in page.active_positions %}
  <div class='row'>
    {% if p == "Professor"  %}
      <div class='medium-12 columns'>
        <h2>{{p}}</h2>
      </div>
    {% endif %}
    {% if p == "Visiting Scholar"%}
      <div class='medium-12 columns'>
        <h2>{{p}}s</h2>
      </div>
    {% endif %}
    {% if p contains "Student" %}
      <div class='medium-12 columns'>
        <h2>Students</h2>
      </div>
    {% endif %}

    {% for member in site.people %}
      {% if member.position contains p %}
      <div class="small-6 small-6 large-3 columns wp-block-coblocks-author" 
           style="font-size:15px; text-align: center; display: flex; flex-direction: column; align-items: center; margin: 0; height: 400px; margin-bottom: 100px; background-color: #ffffff; box-shadow: none;">
        {% assign homeurl = member.permalink %}
        {% for social in member.social %}
          {% if social.title == "home" %}
            {% assign homeurl = social.url %}
          {% endif %}
        {% endfor %}
        
        <figure class="wp-block-coblocks-author__avatar" style="margin-bottom: 20px; width: 100%; display: flex; justify-content: center;">
          <a href="{{homeurl}}" style="width: 100%; display: flex; justify-content: center;">
            <img class="wp-block-coblocks-author__avatar-img" src="./images/people/{{member.img-filename}}" 
                 style="margin: auto; display: block; width: 200px; height: 200px; object-fit: cover; border-radius: 50%;">
          </a>
        </figure>
        
        <div class="wp-block-coblocks-author__content" style="width: 100%;">
          <span class="wp-block-coblocks-author__name">
            <a style="color:black;" href="{{homeurl}}">
              <strong><strong>{{member.emoji}}&nbsp; {{member.fullname}}</strong></strong>
            </a>
          </span>
          <span class="wp-block-coblocks-author__name"></span>
            <a style="color:black;">
              <span style="color: #666666; font-size: 0.9em; font-style: italic;">{{member.position}}</span>
            </a>
          </span>
          <p class="wp-block-coblocks-author__biography" style="margin-top: 5px;">  <!-- Added margin-top here -->
            {% for field in member.fields %}
            {% assign color = page.color_list[forloop.index0] %}
              {% if field.name == "Multimodal perception for AI" %}
              <div style="margin-bottom:-3%;">
              {% else %}
              <div style="margin-bottom:3.5%;">
              {% endif %}
            <span style="font-size:0.9em; font-weight: 300; border-radius: 5px; white-space: nowrap; margin-left: 5px; background-color: {{color}}; color: black;">&nbsp;&nbsp;&nbsp;{{field.name}}&nbsp;&nbsp;&nbsp;</span> 
            </div>
              {% if field.name == "Multimodal perception for AI" %}
              <span style="font-size:0.6em; font-weight: 600; border-radius: 5px; white-space: nowrap; margin-left: 5px; background-color: {{color}};">&nbsp;&nbsp;&nbsp;(Video, Speech, Embodied AI, VR/MR)&nbsp;&nbsp;&nbsp;</span>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>


      {% endif %}
    {% endfor %}
    <div></div>
  </div>

  {% endfor %}



  <!-- remove interns -->
  <!-- <div class='row'>
    <div class='medium-12 columns'>
      <h2>Interns</h2>
    </div>
    <div class='medium-12 columns'>
    
      {% for member in site.people %}
        {% if member.position == "Intern" %}
          <p style="margin-bottom: 5px;">


          
            {% assign temp = false %}
            {% for social in member.social %}
              {% if social.title == "home" %}
                {% assign temp = true %}
                {% assign homeurl = social.url %}
              {% endif %}
            {% endfor %}
            {% if temp %}
              <div class="member-profile">
                <a style="color:black;" href="{{homeurl}}"><h3 style="margin-bottom:0;">&nbsp;&nbsp;{{member.emoji}}  {{member.fullname}}</h3></a>
                <p style="margin-bottom:0;">
                  Interested in
                  {% for field in member.fields %}
                    {{ field.name }}{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                
              </p>
              </div>
            {% else %}
              <div class="member-profile">
                <h3 style="margin-bottom:0;">&nbsp;&nbsp;{{member.emoji}}  {{member.fullname}}</h3>
                <p style="margin-bottom:0;">
                  Interested in
                  {% for field in member.fields %}
                    {{ field.name }}{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                
              </p>
              </div>
            {% endif %}
        {% endif %}
      {% endfor %}
    </div>

  </div> -->


  <!-- Members On Leave -->
  <!--
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>On Leave</h2>
        {% for member in site.people reversed %}
          {% if member.position == "On Leave"  %}
            <p style="margin-bottom: 0px;">
            {% assign temp = false %}
            {% for social in member.social %}
              {% if social.title == "home" %}
                {% assign temp = true %}
                {% assign homeurl = social.url %}
              {% endif %}
            {% endfor %}
            {% if temp %}
              <a href="{{homeurl}}">
            {% else %}
              <a href="{{member.permalink}}">
            {% endif %}
              {{member.fullname}}
            </a>
            {{member.past}}
              {% if member.current %}
                - {{member.current}}
              {% endif %}
          {% endif %}
        {% endfor %}
      <br/><br/>
    </div>
    <div></div>
  </div>
  -->
  <!-- Members alumni -->
  <div class='four spacing'></div>
  
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>Alumni</h2>
      <h3>Graduate Students</h3>
        <!-- Ph.D. alumni -->
        {% for member in site.people reversed %}
          {% if member.position == "Alumni" %}
            <p style="margin-bottom: 0px;">
            {% assign temp = false %}
            {% for social in member.social %}
              {% if social.title == "home" %}
                {% assign temp = true %}
                {% assign homeurl = social.url %}
              {% endif %}
            {% endfor %}
            {% if temp %}
              <a href="{{homeurl}}">
            {% else %}
              <a href="{{member.permalink}}">
            {% endif %}
              {{member.fullname}}
            </a>
            {{member.past}}
              {% if member.current %}
                - {{member.current}}
              {% endif %}
          {% endif %}
        {% endfor %}
        <!-- Master alumni -->
        {% for member in site.people reversed %}
          {% if member.position == "Alumni" and member.pastposition == "Master Student" %}
            <p style="margin-bottom: 0px;">
            {% assign temp = false %}
            {% for social in member.social %}
              {% if social.title == "home" %}
                {% assign temp = true %}
                {% assign homeurl = social.url %}
              {% endif %}
            {% endfor %}
            {% if temp %}
              <a href="{{homeurl}}">
            {% else %}
              <a href="{{member.permalink}}">
            {% endif %}
              {{member.fullname}}
            </a>
            {{member.past}}
              {% if member.current %}
                - {{member.current}}
              {% endif %}
          {% endif %}
        {% endfor %}
      <br/><br/>
      <h3>Undergraduate Students</h3>
        {% for member in site.people reversed %}
          {% if member.position == "Alumni" and member.pastposition == "Undergraduate Student" %}
            <p style="margin-bottom: 0px;">
            {% assign temp = false %}
            {% for social in member.social %}
              {% if social.title == "home" %}
                {% assign temp = true %}
                {% assign homeurl = social.url %}
              {% endif %}
            {% endfor %}
            {% if temp %}
              <a href="{{homeurl}}">
            {% else %}
              <a href="{{member.permalink}}">
            {% endif %}
              {{member.fullname}}
            </a>
            {{member.past}}
              {% if member.current %}
                - {{member.current}}
              {% endif %}
          {% endif %}
        {% endfor %}
    </div>
    <div></div>
  </div>

</div>

<div class='four spacing'></div>

<!--
{% for social in member.social %}
  {% if social.title == "home" %}
    {% assign homeurl = social.url %}
  {% endif %}
{% endfor %}
-->
