---
layout: default
title: Publications
section_id: publications
count_year_max: 2025
count_year_min: 2016
---

<div class='full parallax' style='padding-top: 50px;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Publications" tagline=" " color="#464646" class="big" %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full no-padding'>
  {% for y in (page.count_year_min..page.count_year_max) reversed %}
    {% for paper in site.publications reversed %}
      {% if paper.year == y %}
        <div class='row'>
          <div class='medium-12 columns'>
            <h2>{{y}}</h2>
          </div>
        </div>
        {% break %}
      {% endif %}
    {% endfor %}
    {% for paper in site.publications reversed %}
      {% if paper.year == y %}
      <div class='row'>
        <div class='small-4 medium-2 columns'>
          <div class='mod modIconText'>
            
            {% if paper.img %}
              {% assign proj_link = "" %}
              {% assign pdf_link = "" %}
              
              {% for item in paper.external %}
                
                {% if item.title == "Project" %} {% assign proj_link = item.url %} {% endif %}
                {% if item.title == "PDF" %} {% assign pdf_link = item.url %} {% endif %}
              {% endfor %}
              {% assign img_link = "" %}
              {% if proj_link.size > 0 %} {% assign img_link = proj_link %} {% elsif pdf_link.size > 0 %} {% assign img_link = pdf_link %} {% endif %}
              {% if img_link.size > 0 %}<a href="{{img_link}}">{% endif %}
                <img src=".{{paper.img}}" style="max-width: 100%;"/>
              {% if img_link.size > 0 %}</a>{% endif %}
            {% endif %}
          </div>
        </div>
        <div class='small-8 medium-10 columns'>
          <div class='mod modIconText'>
            
            {% if paper.conference %}<p style="font-weight :bold; margin-bottom : 0;"class='bubble_publication_conference'>{{paper.conference}}</p>{% endif %}
            {% if paper.keywords %}
              {% for keyword in paper.keywords %}
                <span style="margin-right:20px;"># {{keyword.name}} </span>
              {% endfor %}
            {% endif %}
            <h3 style="margin-bottom: 0.3rem;">{{paper.name}}</h3>
            <p style="margin-bottom: 0.3rem;">
              {% if paper.author %}
                <!--하이퍼클로버만 조금 다르게-->
                {% if paper.name == "HyperCLOVA X Technical Report" %}
                  {% for member in paper.author %}
                    {% assign temp = false %}{% if member.link %}<a href="{{member.link}}">{% else %}{% for member2 in site.people %}{% if member.name == member2.fullname %}{% for social in member2.social %}{% if social.title == "home" %}{% assign temp = true %}<a href="{{social.url}}">{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{{member.name}}{% if member.link or temp %}</a>{% endif %}{% if member.school %}({{member.school}}){% endif %}{% if forloop.rindex > 1 %}, {% endif %}
                  {% endfor %}
                  contributed.
                <!--하이퍼클로버 외의 정상적인 상황-->
                {% else %}
                  {% for member in paper.author %}
                    {% assign temp = false %}
                    {% if member.link %}<a href="{{member.link}}">{% endif %}
                    {% if member.link == nil %}
                      {% for member2 in site.people %}
                        {% if member.name == member2.fullname %}
                          {% for social in member2.social %}
                            {% if social.title == "home" %}
                              {% assign temp = true %}<a href="{{social.url}}">
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    {% assign name = member.name %}
                    {% if name contains "_" %}
                      {% assign name = name | remove: "_" %}
                    {% endif %}
                  {{ name }}{% if member.link or temp %}</a>{% endif %}{% if member.school %}({{member.school}}){% endif %}{% if forloop.rindex > 1 %}, {% endif %}
                {% endfor %}
                {% endif %}
                {% if paper.equal %}
                  (* equal contribution)
                {% endif%}
                <br/>
              {% endif %}
              {{paper.book}}<div class='mod modIconText'></div>
              {% for item in paper.external %}
                <a href="{{item.url}}">{{item.title}}</a>
              {% endfor %}
              {% if paper.comment %}
                {% for line in paper.comment %}
                  <br/>
                  {{line}}
                {% endfor %}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      <div class='spacing'></div>
      {% endif %}
    {% endfor %}
  <div class='spacing'></div>
</div>
{% endfor %}
<div class='four spacing'></div>
