<footer id="footer" class="site-footer">
  <div class="row site-footer__inner">
    <div class="site-footer__brand">
      <img class="site-footer__logo" src="{{ '/images/logo/main-logo-name.png' | prepend: site.baseurl }}" alt="SNU PI Lab">
    </div>

    <div class="site-footer__info">
      <address class="site-footer__contact">
        <span><strong>© {{ site.time | date: '%Y' }} SNU PI Lab</strong></span>
        <span>Seoul National university, 1, Gwanak-ro, Gwanak-gu, Seoul, Republic of Korea</span>
        <span>Room 319, 302 Building</span>
        <span>Room 512, 138 Building</span>
      </address>

      <nav class="site-footer__affiliations" aria-label="Affiliations">
        <a href="https://cse.snu.ac.kr/">- Department of Computer Science and Engineering</a>
        <a href="https://www.snu.ac.kr/">- Seoul National university</a>
      </nav>
    </div>

    <div class="site-footer__right">
      <nav class="site-footer__links" aria-label="Footer links">
        <a class="site-footer__icon-link" href="https://github.com/SNU-PI" aria-label="SNU PI Lab GitHub">
          <svg viewBox="0 0 24 24" aria-hidden="true">
            <path d="M12 .7A11.3 11.3 0 0 0 .7 12.3c0 5.1 3.3 9.5 7.9 11 .6.1.8-.3.8-.6v-2.1c-3.2.7-3.9-1.4-3.9-1.4-.5-1.3-1.2-1.6-1.2-1.6-1-.7.1-.7.1-.7 1.1.1 1.7 1.2 1.7 1.2 1 .1.6 2.7 3.4 1.9.1-.7.4-1.2.7-1.5-2.6-.3-5.3-1.3-5.3-5.8 0-1.3.5-2.3 1.2-3.2-.1-.3-.5-1.5.1-3.1 0 0 1-.3 3.3 1.2 1-.3 2-.4 3-.4s2 .1 3 .4c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8.1 3.1.8.9 1.2 1.9 1.2 3.2 0 4.5-2.7 5.5-5.3 5.8.4.4.8 1.1.8 2.2v3.3c0 .3.2.7.8.6a11.4 11.4 0 0 0 7.9-11A11.3 11.3 0 0 0 12 .7z"/>
          </svg>
        </a>
        <a class="site-footer__icon-link" href="https://huggingface.co/mirlab" aria-label="SNU PI Lab Hugging Face">
          <img src="{{ '/images/huggingface_logo-noborder.svg' | prepend: site.baseurl }}" alt="">
        </a>
      </nav>
    </div>
  </div>
</footer>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
