<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </script>
  <title>Better to Follow, Follow to Be Better: Towards Precise Supervision of Feature Super-Resolution for Small Object Detection</title>
  <link rel="stylesheet" type="text/css" href="../style/style.css" media="screen">
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML" async>
  </script>
</head>
<body>
  <!--<div class="center">-->
  <!--This page uses a template from the <a href="http://hi.cs.waseda.ac.jp/~iizuka/projects/completion/">project page</a> of Satoshi Iizuka et al, <i>"Globally and Locally Consistent Image Completion"</i>.-->
  <!--</div>-->
  <div class="content">
    <h1 class="no_margin">Better to Follow, Follow to Be Better:</h1>
    <h3 class="no_margin">Towards Precise Supervision of Feature Super-Resolution for Small Object Detection</h3>
    <p id="authors">
      <a href="http://vision.snu.ac.kr/junhyug">Junhyug Noh</a> &nbsp;&nbsp;&nbsp;&nbsp;
      Wonho Bae &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://vision.snu.ac.kr/people/wonheelee.html">Wonhee Lee</a> &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://jinseocs.wordpress.com/">Jinhwan Seo</a> &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://vision.snu.ac.kr/gunhee/">Gunhee Kim</a> &nbsp;&nbsp;&nbsp;&nbsp;
      <br><br>
      <a href="http://vision.snu.ac.kr/">Vision and Learning Lab</a>
      <br>
      <a href="http://cse.snu.ac.kr/en/">Computer Science and Engineering</a>
      <br>
      <a href="http://en.snu.ac.kr/">Seoul National University</a>, Seoul, Korea
      <br><br>
      <a href="http://iccv2019.thecvf.com/">ICCV 2019</a>
    </p>
    <!--<img src="../img/under_construction.jpg" width="600" border="0" class="center">-->
    <img src="../img/feature_comparison.png" width="500" border="0" class="center">
    <br><br>
    <div class="center">
      <a class="button" href="../data/iccv19_noh.pdf">Paper (7.2MB)</a>
      <a class="button" href="../data/iccv19_noh_supp.pdf">Supplementary (15.4MB)</a>
      <a class="button" href="../data/iccv19_noh_poster.pdf">Poster (15.2MB)</a>
      <!--<a class="button" href="../data/noh_2018.bib">BibTex</a><br><br>-->
    </div>
  </div>
  <div class="content">
    <h2>Abstract</h2>
    <p>In spite of recent success of proposal-based CNN models for object detection,
      it is still difficult to detect small objects due to the limited and distorted information
      that small region of interests (RoI) contain.
      One way to alleviate this issue is to enhance the features of small RoIs using a super-resolution (SR) technique.
      We investigate how to improve feature-level super-resolution especially for small object detection,
      and discover its performance can be significantly improved by
      (i) utilizing proper high-resolution target features as supervision signals for training of a SR model and
      (ii) matching the relative receptive fields of training pairs of input low-resolution features and target high-resolution features.
      We propose a novel feature-level super-resolution approach that not only correctly addresses these two desiderata
      but also is integrable with any proposal-based detectors with feature pooling.
      In our experiments, our approach significantly improves the performance of Faster R-CNN
      on three benchmarks of Tsinghua-Tencent 100K, PASCAL VOC and MS COCO.
      The improvement for small objects is remarkably large, and encouragingly, those for medium and large objects are nontrivial too.
      As a result, we achieve new state-of-the-art performance on Tsinghua-Tencent 100K and highly competitive results on both PASCAL VOC and MS COCO.</p>
  </div>

  <div class="content">
    <h2>Acknowledgements</h2>
    <p>We appreciate <a href="https://bckim92.github.io/" rel="nofollow">Byeongchang Kim</a> for helpful comments,
      as well as Sukyung Jeong for assisting to draw the figures in the paper.
      This work was supported by Samsung Research Funding Center of Samsung Electronics (No. SRFC-TC1603-01)
      and IITP grant funded by the Korea government (MSIT) (No. 2017-0-01772).
      Gunhee Kim is the corresponding author.</p>
  </div>

  <div class="content">
    <h2>Citation</h2>
    <code>@InProceedings{Noh:2019:BetterToFollow,<br>
      &nbsp;&nbsp;author = {Noh, Junhyug and Bae, Wonho and Lee, Wonhee and Seo, Jinhwan and Kim, Gunhee},<br>
      &nbsp;&nbsp;title = {Better to Follow, Follow to Be Better: Towards Precise Supervision of Feature Super-Resolution for Small Object Detection},<br>
      &nbsp;&nbsp;booktitle = {The IEEE International Conference on Computer Vision (ICCV)},<br>
      &nbsp;&nbsp;month = {October},<br>
      &nbsp;&nbsp;year = {2019}<br>
    }</code>
  </div>
  <div class="center">
  This page uses a template from the <a href="http://hi.cs.waseda.ac.jp/~iizuka/projects/completion/">project page</a> of Satoshi Iizuka et al, <i>"Globally and Locally Consistent Image Completion"</i>.
  </div>
</body>
</html>
