---
layout: default
title: News
section_id: news

---

<div class='full parallax' style='padding-top: 50px;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="News" tagline=" " color="#464646" class="big" %}
    </div>
  </div>
  <div class='spacing'></div>
</div>


<div class='full news-detail-wrap'>
  <div class='row'>
    <div class='large-12 columns'>
      <article class='mod modBlogPost big news-detail-card'>
        <div class='images' >
          {% for image in page.images %}
            <div class='image'><img alt="" src="{{site.baseurl}}/{{image}}" /></div>
          {% endfor %}
        </div>
        <div class='content'>
          <p class='info'>
            <span>{{page.date | date: "%B %d, %Y" }}</span>
          </p>
          <h3><a href="{{page.url}}">{{page.emoji}}&nbsp; {{page.title}}</a></h3>
          {% if page.summary and page.summary != "" %}
            <div class="news-detail-summary">{{page.summary}}</div>
          {% endif %}
          <div class="news-detail-body">{{ page.body | newline_to_br }}</div>
        </div>
      </article>
      <div class='two spacing'></div>
    </div>
  </div>
</div>
