---
layout: default
---


<div class='full parallax' style='padding-top: 50px;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="News" tagline=" " color="#464646" class="big" %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full no-padding' style='background: #f5f5f5;'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <!--content에, news.html 내용 다 들어감-->
      {{content}}

      {% if paginator %}
        <div class="pager">
          {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
              <a href="/news" class="older">Older Entries</a>
            {% else %}
              <a href="/news/page{{ paginator.next_page }}" class="older">Older Entries</a>
            {% endif %}
          {% endif %}
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a href="/news" class="newer">Newer Entries</a>
            {% else %}
              <a href="/news/page{{ paginator.previous_page }}" class="newer">Newer Entries</a>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}

      <div class='four spacing'></div>
    </div>
  </div>
</div>
